openapi: 3.0.3
info:
  title: Cleaning Buddy API
  description: RESTful API for managing cleaning tasks and schedules
  version: 1.0.0
  contact:
    name: Cleaning Buddy Team
    email: support@cleaningbuddy.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.cleaningbuddy.com/v1
    description: Production server
  - url: http://localhost:3001/api/v1
    description: Development server

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns API health status
      tags:
        - Health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
                  message:
                    type: string
                    example: Cleaning Buddy API is running

  /tasks:
    get:
      summary: Get all tasks for the authenticated user
      description: Retrieve a list of tasks with optional filtering and pagination
      tags:
        - Tasks
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by task status
          schema:
            type: string
            enum: [pending, in_progress, completed, cancelled]
        - name: category_id
          in: query
          description: Filter by category ID
          schema:
            type: string
            format: uuid
        - name: priority
          in: query
          description: Filter by priority level
          schema:
            type: string
            enum: [low, medium, high]
        - name: due_date_from
          in: query
          description: Filter tasks due after this date
          schema:
            type: string
            format: date-time
        - name: due_date_to
          in: query
          description: Filter tasks due before this date
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: List of tasks retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create a new task
      description: Create a new cleaning task for the authenticated user
      tags:
        - Tasks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tasks/{taskId}:
    get:
      summary: Get a specific task
      description: Retrieve details of a specific task by ID
      tags:
        - Tasks
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          description: Task ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update a task
      description: Update an existing task
      tags:
        - Tasks
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          description: Task ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete a task
      description: Delete a specific task
      tags:
        - Tasks
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          description: Task ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Task deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tasks/{taskId}/complete:
    post:
      summary: Mark task as complete
      description: Mark a task as completed and record completion time
      tags:
        - Tasks
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          description: Task ID
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                actual_duration:
                  type: integer
                  description: Actual time spent in minutes
                  example: 25
                notes:
                  type: string
                  description: Optional completion notes
                  example: "Used extra cleaning solution"
      responses:
        '200':
          description: Task marked as complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /categories:
    get:
      summary: Get all categories
      description: Retrieve all task categories for the authenticated user
      tags:
        - Categories
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create a new category
      description: Create a new task category
      tags:
        - Categories
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /categories/{categoryId}:
    get:
      summary: Get a specific category
      description: Retrieve details of a specific category by ID
      tags:
        - Categories
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          description: Category ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Category retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update a category
      description: Update an existing category
      tags:
        - Categories
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          description: Category ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete a category
      description: Delete a specific category
      tags:
        - Categories
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          description: Category ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Category deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics:
    get:
      summary: Get user analytics
      description: Retrieve cleaning analytics and statistics for the authenticated user
      tags:
        - Analytics
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          description: Time period for analytics
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
        - name: start_date
          in: query
          description: Start date for custom period
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date for custom period
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440001"
        title:
          type: string
          example: "Clean kitchen counters"
        description:
          type: string
          example: "Wipe down all kitchen countertops and backsplash"
        category_id:
          type: string
          format: uuid
          nullable: true
          example: "550e8400-e29b-41d4-a716-446655440001"
        user_id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: [low, medium, high]
          example: "medium"
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
          example: "pending"
        due_date:
          type: string
          format: date-time
          nullable: true
          example: "2024-03-25T10:00:00Z"
        estimated_duration:
          type: integer
          description: Estimated duration in minutes
          nullable: true
          example: 15
        actual_duration:
          type: integer
          description: Actual duration in minutes
          nullable: true
          example: 20
        recurring:
          type: boolean
          example: true
        recurring_pattern:
          type: object
          nullable: true
          example:
            frequency: "daily"
            days: ["monday", "wednesday", "friday"]
        created_at:
          type: string
          format: date-time
          example: "2024-03-20T08:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-03-20T08:00:00Z"
        completed_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-03-20T09:15:00Z"

    CreateTaskRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          example: "Clean kitchen counters"
        description:
          type: string
          example: "Wipe down all kitchen countertops and backsplash"
        category_id:
          type: string
          format: uuid
          nullable: true
          example: "550e8400-e29b-41d4-a716-446655440001"
        priority:
          type: string
          enum: [low, medium, high]
          default: "medium"
        due_date:
          type: string
          format: date-time
          nullable: true
          example: "2024-03-25T10:00:00Z"
        estimated_duration:
          type: integer
          description: Estimated duration in minutes
          nullable: true
          example: 15
        recurring:
          type: boolean
          default: false
        recurring_pattern:
          type: object
          nullable: true
          example:
            frequency: "daily"
            days: ["monday", "wednesday", "friday"]

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          example: "Clean kitchen counters"
        description:
          type: string
          example: "Wipe down all kitchen countertops and backsplash"
        category_id:
          type: string
          format: uuid
          nullable: true
          example: "550e8400-e29b-41d4-a716-446655440001"
        priority:
          type: string
          enum: [low, medium, high]
          example: "medium"
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
          example: "in_progress"
        due_date:
          type: string
          format: date-time
          nullable: true
          example: "2024-03-25T10:00:00Z"
        estimated_duration:
          type: integer
          description: Estimated duration in minutes
          nullable: true
          example: 15
        actual_duration:
          type: integer
          description: Actual duration in minutes
          nullable: true
          example: 20
        recurring:
          type: boolean
          example: true
        recurring_pattern:
          type: object
          nullable: true
          example:
            frequency: "daily"
            days: ["monday", "wednesday", "friday"]

    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440001"
        name:
          type: string
          example: "Kitchen"
        description:
          type: string
          nullable: true
          example: "Kitchen cleaning tasks"
        color:
          type: string
          pattern: "^#[0-9A-Fa-f]{6}$"
          example: "#EF4444"
        icon:
          type: string
          nullable: true
          example: "chef-hat"
        user_id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        created_at:
          type: string
          format: date-time
          example: "2024-03-20T08:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-03-20T08:00:00Z"

    CreateCategoryRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: "Kitchen"
        description:
          type: string
          nullable: true
          example: "Kitchen cleaning tasks"
        color:
          type: string
          pattern: "^#[0-9A-Fa-f]{6}$"
          default: "#3B82F6"
          example: "#EF4444"
        icon:
          type: string
          nullable: true
          example: "chef-hat"

    UpdateCategoryRequest:
      type: object
      properties:
        name:
          type: string
          example: "Kitchen"
        description:
          type: string
          nullable: true
          example: "Kitchen cleaning tasks"
        color:
          type: string
          pattern: "^#[0-9A-Fa-f]{6}$"
          example: "#EF4444"
        icon:
          type: string
          nullable: true
          example: "chef-hat"

    Analytics:
      type: object
      properties:
        summary:
          type: object
          properties:
            total_tasks:
              type: integer
              example: 45
            completed_tasks:
              type: integer
              example: 32
            completion_rate:
              type: number
              format: float
              example: 0.71
            total_time_spent:
              type: integer
              description: Total time spent in minutes
              example: 480
        by_category:
          type: array
          items:
            type: object
            properties:
              category_id:
                type: string
                format: uuid
              category_name:
                type: string
              task_count:
                type: integer
              completion_rate:
                type: number
                format: float
              time_spent:
                type: integer
        by_priority:
          type: object
          properties:
            low:
              type: object
              properties:
                total:
                  type: integer
                completed:
                  type: integer
                completion_rate:
                  type: number
                  format: float
            medium:
              type: object
              properties:
                total:
                  type: integer
                completed:
                  type: integer
                completion_rate:
                  type: number
                  format: float
            high:
              type: object
              properties:
                total:
                  type: integer
                completed:
                  type: integer
                completion_rate:
                  type: number
                  format: float
        time_series:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              tasks_completed:
                type: integer
              time_spent:
                type: integer

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 45
        total_pages:
          type: integer
          example: 3
        has_next:
          type: boolean
          example: true
        has_prev:
          type: boolean
          example: false

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Validation error"
        message:
          type: string
          example: "Title is required"
        details:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

tags:
  - name: Health
    description: Health check endpoints
  - name: Tasks
    description: Task management endpoints
  - name: Categories
    description: Category management endpoints
  - name: Analytics
    description: Analytics and reporting endpoints
